<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Propulsion Vectors Understood Easily</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../node_modules/propellerkit/dist/css/propeller.min.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">

    <style>
        body, html {
          font-family: 'News Cycle', sans-serif !important;
          height: 100%;
          font-weight: 300 !important;
          font-style: normal !important;
        }

        h1, h2, h3, h4, h5, h6 {
          font-family: 'News Cycle' ,sans-serif;
          font-weight: 300 !important;
          font-style: normal !important;
        }

        .dignity {
          font-family: "News Cycle", sans-serif;
          font-weight: 300 !important;
          font-style: normal !important;
        }

        i, .material-icons {
          vertical-align: middle;
        }

        </style>

  </head>
  <body>

    <div id="app"></div>
    <!-- built files will be auto injected -->

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="http://propeller.in/assets/js/propeller.min.js"></script>
      <!-- <script type="text/javascript" src="../node_modules/propellerkit/dist/js/propellers.js"></script> -->

  </body>
</html>
