<template lang="pug">
.home
  img(alt='Vue logo' src='../assets/cathar-crucigrama.svg')
  HelloWorld    
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
