<template lang="pug">
.hello
	h1 Adeus Mundo Imundo

	h2.mb-5 H&eacute;lice do Propulsor
	.d-flex.flex-row
		button.btn-lg.btn.pmd-btn-raised.pmd-ripple-effect.btn-primary.my3(type='button') Prime Number

		button.btn.btn-lg.pmd-ripple-effect.btn-dark.pmd-z-depth.ml2(data-target='#small-dialog' data-toggle='modal' type='button') Total Model
		.modal.fade#small-dialog(tabindex='-1' style='display: none;' aria-hidden='true')
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(aria-hidden='true' data-dismiss='modal' type='button') ×
						.media-left
							a.avatar-list-img(href='javascript:void(0);')
								img(width='40' height='40' alt='avatar' src='http://propeller.in/components/list/img/40x40.png')
						.media-body.media-middle
							h3.pmd-card-title-text Two-line item
							span.pmd-card-subtitle-text Secondary text
					.pmd-modal-media
						img.img-responsive(width='1184' height='666' alt='Media' src='http://propeller.in/assets/images/profile-pic.png')
					.modal-body Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.
					.pmd-modal-action
						button.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect.btn-primary(data-dismiss='modal' type='button')
							i.material-icons.pmd-sm share
						button.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect.btn-primary(data-dismiss='modal' type='button')
							i.material-icons.pmd-sm thumb_up
						button.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect.btn-primary(data-dismiss='modal' type='button')
							i.material-icons.pmd-sm drafts
</template>

<script>
export default {
	name: 'HelloWorld',
	props: {
		msg: String
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
	margin: 40px 0 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
