<template lang="pug">
#app
	nav.navbar.navbar-inverse.pmd-navbar.navbar-fixed-top.pmd-z-depth(data-position= 'fixed' data-placement='left' )
		.container-fluid
			.navbar-header(style="color: white;")
				a.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect.pull-left.margin-r8.pmd-sidebar-toggle(href='javascript:void(0);' data-target='basicSidebar' data-placement='left' data-position='slidepush' is-open='true' is-open-width='1000')
					i.material-icons.md-light menu
				a.navbar-brand.with.dignity(href='/' style="color: white;") 
					i.fas.fa-sun.fa-2x.mr1
					| Quinquilharias Somos Nós
			//  Navbar Right icon 
			.pmd-navbar-right-icon.pull-right
				a.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect(href='javascript:void(0);')
					i.material-icons.pmd-sm.md-light beach_access
				a.btn.btn-sm.pmd-btn-fab.pmd-btn-flat.pmd-ripple-effect.topbar-toggle.visible-xs-inline-block(href='javascript:void(0);' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1')
					i.material-icons.pmd-sm more_vert
			//  /.navbar-collapse 
		//  /.container-fluid 
	section#pmd-main
		//  Left sidebar 
		aside#basicSidebar.pmd-sidebar.sidebar-default.pmd-z-depth(role='navigation')
			ul.nav.pmd-sidebar-nav
				//  My Account 
				li.dropdown.pmd-dropdown.pmd-user-info
					a.btn-user.dropdown-toggle.media(aria-expanded='false' data-sidebar='true' data-toggle='dropdown' href='javascript:void(0);')
						.media-left
							img(width='40' height='40' alt='avatar' src='http://propeller.in/assets/images/avatar-icon-40x40.png')
						.media-body.media-middle 
							i.fas.fa-sun.fa-2x.mr1
							| Engenho Novo LLC
						.media-right.media-middle
							i.material-icons.pmd-sm more_vert
					ul.dropdown-menu
						li
							a.pmd-ripple-effect(href='javascript:void(0);' tabindex='-1')
								i.material-icons.media-left.media-middle person
								|  
								span.media-body View Profile
						li
							a.pmd-ripple-effect(href='javascript:void(0);' tabindex='-1')
								i.material-icons.media-left.media-middle settings
								|  
								span.media-body Settings
						li
							a.pmd-ripple-effect(href='javascript:void(0);' tabindex='-1')
								i.material-icons.media-left.media-middle history
								|  
								span.media-body Logout
				li
					a.pmd-ripple-effect(href='javascript:void(0);')
						i.material-icons.media-left.media-middle delete
						|  
						span.media-body Trash
				li
					a.pmd-ripple-effect(href='javascript:void(0);')
						i.material-icons.media-left.media-middle notifications
						|  
						span.media-body Spam
				li
					a.pmd-ripple-effect(href='javascript:void(0);')
						i.material-icons.media-left.media-middle notifications
						|  
						span.media-body Follow Up

	.pmd-content.custom-pmd-content#content

		.pmd-sidebar-overlay

		router-view
</template>

<style>

/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
 
/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller navbar */
@import "http://propeller.in/components/navbar/css/navbar.css";

/* Propeller dropdowns */
@import "http://propeller.in/components/dropdown/css/dropdown.css";

/* Propeller buttons */
@import "http://propeller.in/components/button/css/button.css";

/* Propeller list */
@import "http://propeller.in/components/list/css/list.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Propeller sidebar */
@import "http://propeller.in/components/sidebar/css/sidebar.css";

#app {
	font-family: 'News Cycle', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

</style>